/* Estilos para la sección inicio */
#inicio {
    position: relative;
    object-fit: cover;
    max-height: 100%;
    margin-top: -1.25em;
  }
  
  /* Estilos para el carrusel */
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
    background-color: #f4f4f4; /* Color de fondo del carrusel */
  }
  
  .carousel-container {
    display: flex;
    width: 100%;
    height: 100vh;/* Para que en moviles tome la pantalla completa */
  }
  
  .carousel-image {
    display: none;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: opacity 0.4s;
  }
  
  .carousel-image.active {
    display: block;
    opacity: 1;
  }
  
  /* Estilos para los botones del carrusel */
  #anterior,
  #siguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #007BFF; /* Color para los botones */
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  #anterior {
    left: 0;
  }
  
  #siguiente {
    right: 0;
  }
  
  /* Estilos para los botones en hover */
  #anterior:hover,
  #siguiente:hover {
    color: #FFA500; /* Color en hover */
  }
  
  /* Estilos para el botón "Programa una Consulta" */
  .overlay-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .overlay-button:hover {
    background-color: #FFA500; /* Color en hover */
  }
  
  /* Estilos para el overlay de texto */
  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: #fff; /* Color del texto del overlay */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
    


  /* Estilos para la superposición (overlay) del carrusel */
.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: #fff; /* Color del texto del overlay */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  /* Estilos para el título */
  .overlay-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  /* Estilos para la descripción */
  .overlay-description {
    font-size: 18px;
    margin-bottom: 20px;
    /* max-width: 80%; */
  }
  
  
  /* Estilos para el botón */
  .overlay-button {
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .overlay-button:hover {
    background-color: #FFA500; /* Color en hover */
  }
  /* Estilos para el carrusel en dispositivos móviles */
@media (max-width: 768px) {
    .overlay-description-container {
      display: block; /* Oculta el contenedor en dispositivos móviles */
    }
    .overlay-title {
        display: flex;
        
        align-self: flex-start; /* Posiciona el título arriba en dispositivos móviles */
    }
  }
  
  /* Estilos para el carrusel en dispositivos mayores a 768px */
  @media (min-width: 769px) {
    .overlay-description-container {
      display: block; /* Muestra el contenedor en dispositivos mayores */
    }
    .overlay-title {
      align-self: center; /* Centra el título verticalmente en dispositivos mayores */
    }
  }
  